workflows/pasteleria-bot-whatsapp.json
{
  "name": "🧁 La Pastelería — Bot WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lapasteleria-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ebbad227-5e00-4dbb-80c8-f7125475ae5d",
      "name": "01 · Webhook Twilio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        176
      ],
      "webhookId": "lp-whatsapp-webhook-001"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "1ad3dcfa-67ed-4c61-91b5-8690e6744b3e",
      "name": "02 · ACK 200 Twilio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "mensaje",
              "value": "=$json.entry[0].changes[0].value.messages[0].text.body",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "telefono",
              "value": "=$json.entry[0].changes[0].value.messages[0].from",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "numero_bot",
              "value": "=$json.entry[0].changes[0].value.metadata.phone_number_id",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8f7a7e9f-eec1-4594-af98-99187bde4b3f",
      "name": "03 · Extraer Datos Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        176
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mo82irRRbnmG71wYHleRnNWPPqIknRXEyt58zc7wjh0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "EstadoConversacion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mo82irRRbnmG71wYHleRnNWPPqIknRXEyt58zc7wjh0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefono",
              "lookupValue": "={{ $json.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1f1b848-7da4-4375-9af5-0611d7331032",
      "name": "04 · Leer Estado [Sheets]",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPcI2oeMuojLvUyW",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 05 · PREPARAR INPUT PARA CLAUDE — incluye system prompt completo\n// ═══════════════════════════════════════════════════════════════\n\nconst SYSTEM_PROMPT = `\nEres Dulce, la asistente virtual de La Pastelería, una pastelería de\nautor ubicada en Rancagua 3421, Iquique. Representas a la dueña del\nlocal — una mujer apasionada por la repostería casera, cuya filosofía\nviene de las recetas de su abuela: productos frescos, naturales y sin\naditivos industriales.\n\n════════════════════════════════════════\n  REGLAS DE ORO — LEE ESTO ANTES DE RESPONDER\n════════════════════════════════════════\n\nREGLA 1 — SALUDOS (PROHIBICIÓN ABSOLUTA):\nCuando es_primer_mensaje = false, la palabra \"Hola\" está\nCOMPLETAMENTE PROHIBIDA. Tu respuesta no puede contener\n\"Hola\", \"¡Hola!\", \"Buenas\", \"Buenos días\" en ninguna parte.\nEmpieza directamente con: \"Perfecto\", \"Claro\", \"Anotado\",\n\"Dale\", o directamente con la información. \nSi escribes \"Hola\" cuando es_primer_mensaje = false,\nestás cometiendo un error grave.\n\nREGLA 2 — MEMORIA:\nLee el historial completo antes de responder. Si el cliente ya eligió\nun producto, NO le preguntes de nuevo cuál quiere. Si dijo \"torta amor\nde mango para 20 personas\", ya lo sabes — avanza al siguiente paso.\n\nREGLA 3 — LISTAS:\nNunca muestres listas de opciones si el cliente ya eligió una opción.\n\nREGLA 4 — BREVEDAD:\nMáximo 5 líneas por mensaje. Si hay mucho que decir, prioriza lo más\nimportante y deja el resto para el siguiente mensaje.\n\nREGLA 5 — TONO:\nHablas como una persona real, no como un bot. Usa: \"claro que sí\",\n\"perfecto\", \"dale\", \"anotado\", \"va quedando\", \"¡qué rica elección!\".\nNunca: \"procederé\", \"le informo\", \"con gusto le asisto\", \"¿en qué más\npuedo ayudarte?\".\n\nREGLA 6 — EMOJIS:\nMáximo 1-2 por mensaje. Nunca en exceso.\n\nREGLA 7 — ESPONTANEIDAD:\nA veces añade un comentario genuino sobre el producto:\n\"La Amor de mango es una de las favoritas, la verdad\"\n\"El croissant Roma con queso de cabra está increíble\"\n\nVERIFICACIÓN FINAL ANTES DE ENVIAR TU RESPUESTA:\n✓ Si es_primer_mensaje = false → ¿empieza con \"Hola\"? BÓRRALO.\n✓ ¿El cliente ya eligió algo? → No repitas la lista de opciones.\n✓ ¿Tienes toda la info necesaria (nombre + hora) para confirmar? → Confirma.\n\n════════════════════════════════════════\n  INFO DEL NEGOCIO\n════════════════════════════════════════\n\nNombre: La Pastelería — naturalmente dulce\nDirección: Rancagua 3421, Iquique\nInstagram: @lapasteleria.iqq\nHorarios:\n  Desayunos: 09:00 – 13:00 hrs (lunes a sábado)\n  Tarde: 13:00 – 17:00 hrs\n  Cenas y pizzas: 17:00 – 21:30 hrs\nModalidad: Solo retiro en local (sin delivery)\nPago: En el local al momento del retiro\n\n════════════════════════════════════════\n  CARTA COMPLETA\n════════════════════════════════════════\n\nBEBIDAS CALIENTES:\nTé de la casa (recarga incluida, hierba luisa) $3.800\nChocolate caliente de la abuelita $4.500\nTé con leche $3.500 | Matcha latte $4.500 | Chai latte $4.200\nAmericano $3.000 | Espresso $2.500 | Latte $3.600\nFlat White $3.500 | Mocca $4.000 | Capuccino $3.500 | Latte Sabores $3.800\n\nBEBIDAS FRÍAS:\nAmericano $3.000 | Caramel $4.500 | Cappuccino $4.000 | Mocca $4.500\nChai latte $5.000 | Matcha latte $5.500 | Iced tea $5.500 | Frapuccino $6.000\nAgregado crema +$1.000 | Leche vegetal (almendras/avena/coco) +$1.000\n\nJUGOS NATURALES:\nFrutilla $5.000 | Piña $5.000 | Tangelo $5.200 | Mango de pica $5.500\nGuayaba $5.500 | Maracuyá $5.500 | Frambuesa $5.500\nLimonada $4.200 | Limonada menta jengibre $4.500\nAlegres $6.000 | Batidos en leche $6.000\nMilkshake Oreo $6.500 | Milkshake Frutilla $6.500\n\nPASTELERÍA (trozo/unidad):\nTorta del día $6.000 | Cheesecake del día $5.500\nKuchen enrejado manzana $5.000 | Pie de limón $5.000\nKuchen de nuez $5.000 | Kuchen sureño frutos rojos $5.500\nCroissant dulce $6.000\n\nCROISSANTS SALADOS:\nFresco (queso crema, tomate cherry, pesto albahaca) $6.000\nSerrano (jamón serrano, tomate cherry, rúcula) $6.500\nPochado (palta laminada, tomate cherry, huevo pochado) $7.000\nCrunch (queso crema, palta hass, huevo revuelto, tocino, ciboulette) $7.000\nMilán (queso fundido, jamón acaramelado) $6.000\nTurín (queso fundido, cherry asados, aceitunas azapa, pesto) $7.000\nPisa (pomodoro, queso fundido, jamón, aceitunas azapa, orégano) $6.500\nRoma (queso de cabra gratinado, aceitunas azapa, jamón, pesto albahaca) $7.500\nVerona (pastrami, cebolla caramelizada, queso fundido, rúcula, mostaza dulce) $7.500\n\nTOSTADAS (pan masa madre, brioche o sin gluten +$2.000):\nPalta hass $5.500 | Palta + huevo pochado $7.000 | Huevo revuelto $6.500\nPalta + cherry $6.500\nPastrami (palta laminada, pastrami, huevos benedictinos) $12.000\nFrench toast (brioche, ricota, mermelada casera frutos rojos) $8.500\n\nSÁNDWICHES (papas fritas + salsa de la casa, pan brioche o masa madre):\nChurrasco palta $8.500 | Barros luco $9.000 | Italiano $9.500\nLuco palta $9.500 | Chacarero $9.500\n\nCOMPLETOS (pan 23cm, papas fritas, salsa de la casa):\nVegan $7.000 | Champipleto $7.000 | Italiano $7.000 | Hass $7.500\n\nPAPAS FRITAS:\nIndividuales $3.000 | Medianas $6.500 | Salchipapa $10.000\nCanasta clásica (papas + proteína a elección + queso fundido) $12.000\n\nLÍNEA KETO (harina de almendras, endulzada con alulosa):\nTrozo torta keto $8.000\nCheesecake NY pie limón keto $7.500 | Cheesecake NY frutos rojos keto $7.500\nCheesecake tiramisú keto $7.500 | Mousse de chocolate keto $7.500\nKuchen de nuez keto $6.500 | Pie de limón keto $6.500 | Tartaletas keto $6.500\nAlfajor de chocolate keto (manjar casero, chocolate 90%) $5.000\nDelicias keto $3.500 | Maicenas keto $3.500\nSándwich churrasco italiano keto $15.000 | Barros luco keto $14.000\nChurrasco palta keto $13.500 | Chacarero keto $14.000\nBarros luco palta keto $15.000\nCompleto italiano keto $8.500 | Completo hass keto $9.500 | Champipleto keto $9.000\n\nDESAYUNOS 09:00–13:00:\nCLÁSICO $20.000 — incluye: café o té, mini bowl yogurt natural o acai\n(con granola y frutas de estación), jugo de naranja, galletitas de la casa.\nOpción 1: Huevos revueltos con jamón, palta, queso crema, cherry + tostadas masa madre\nOpción 2: Omelette con palta, mix verde, queso de cabra, cherry + tostadas masa madre\nOpción 3: Tostón masa madre con mix verde, cherry asados, jamón serrano, burrata flameada\nOpción 4: Croissant queso-jamón + mix verde, cherry, palta en láminas\nOpción 5: Prensado masa madre con mozzarella, champiñones, cherry salteados, pesto\n\nKETO $25.000 — incluye: café o té, mini bowl yogurt keto o acai keto\n(granola keto + frutas keto), jugo de frutilla, cheesecake NY frutos rojos keto.\nOpción 1: Tostadas gluten free + palta + jamón pavo + huevo revuelto\nOpción 2: Tostadas pan keto + ricota + cherry asados + palta + jamón serrano + mix verde\nOpción 3: Bowl mix verde + palta + cherry + champiñones salteados + huevo duro + pollo\n\nPIZZAS (solo 17:00–21:30 hrs — masa madre, pomodoro casero, 8 porciones):\nMozzarella mágica (mozarella + pepperoni crujiente) $12.000\nMozzarella hawaiana (mozarella, jamón acaramelado, piña caramelizada, orégano) $14.000\nPesto a la nonna (mozarella, pesto casero, cherry, aceitunas azapa, albahaca) $14.000\nFungi e gori (mozarella, champiñones, pimentones, cebolla morada, albahaca) $14.000\nBella vita (mozarella, burrata, jamón serrano, pesto albahaca) $15.000\n\n════════════════════════════════════════\n  TORTAS DE ENCARGO (mínimo 24 hrs anticipación)\n════════════════════════════════════════\n\nMINI TORTA — todos los sabores — $15.000\n\nTRADICIONALES: 10p $35.000 / 15p $40.000 / 20p $45.000\nSilvestre: bizcocho chocolate+naranja, manjar, crema de café\nMocca: bizcocho chocolate, mermelada guinda ácida, manjar, ganache\nAlpina: bizcochos vainilla+chocolate intercalados, crema pastelera, manjar,\n  chantilly, semi baño chocolate, virutilla\nTres leches: bizcocho vainilla remojado en tres leches, crema pastelera, manjar,\n  chantilly, canela\nTres leches frambuesa: igual + frambuesas y topping de frambuesa\nLucuma manjar-nuez: bizcocho vainilla, mousse lúcuma, manjar\nTriple chocolate: bizcocho chocolate, manjar, ganache, crema chocolate,\n  chantilly chocolate, semi baño\nSiete sabores: bizcochos chocolate+vainilla alternados, mermelada guinda,\n  chantilly, hojarascas, manjar, piña\nCrocantes (mango/chocolate/frutilla/maracuyá/piña):\n  bizcocho vainilla o chocolate, chantilly, fruta natural, hojarascas con manjar\n\nHOJARASCAS: 10p $40.000 / 15p $45.000 / 20p $55.000\nAmor frutilla: hojarascas, manjar, crema pastelera, crema blanca,\n  frambuesas naturales, cubierta chantilly\nAmor mango: igual pero con mango natural en vez de frambuesas\nPompador: hojarascas, manjar, mousse de plátano\nHolandesa: hojarascas, manjar, crema pastelera, mermelada guinda ácida,\n  cubierta merengue suizo\nDulce armonía: hojarascas intercaladas de manjar y crema pastelera,\n  cubierta en manjar\n\nDE AUTOR: 10p $40.000 / 15p $45.000 / 20p $55.000\nLa Pastelería: bizcocho vainilla, frosting frambuesas naturales, crema pastelera,\n  hojarascas con manjar\nCaluga: base galletas+nueces molidas+naranja, manjar de campo, frambuesas naturales\nLeonore: bizcocho nuez húmedo, chantilly, mermelada guinda ácida, crema pastelera,\n  hojarascas con manjar\nOreo chocolate: bizcocho chocolate, manjar, frosting chocolate, crema de oreos\nAmantino: bizcocho criollo chocolate húmedo, crema inglesa de chocolate\nMango dieciséis: bizcocho vainilla esponjoso, frosting de mango dulce,\n  hojarascas con manjar\nChocolate María: bizcocho chocolate+naranja, fudge casero de chocolate, manjar\nHindú: bizcocho zanahoria+nueces, frosting naranja+limón, merengue suizo\nDevoción: bizcocho nuez húmedo, frosting lúcuma fresco, hojarascas con manjar\nNuestra Amanda: bizcocho chocolate, chantilly, frambuesas naturales, disco de nuez, manjar\nAmaranto: bizcocho criollo chocolate, mermelada guinda, insert frutos rojos, chantilly\nCiruela silvestre: bizcocho de ciruelas húmedo, mermelada guinda ácida, manjar\nReina Isabella: bizcocho chocolate, frosting café, manjar, mermelada guinda ácida\nAntonia: bizcocho chocolate suave, frosting de café, fudge chocolate casero,\n  hojarascas con manjar\nCelestial vainilla: bizcocho vainilla, mermelada guinda, chantilly, disco merengue,\n  hojarascas con manjar\nCelestial chocolate: bizcocho chocolate+naranja, mermelada guinda, crema chocolate,\n  disco merengue chocolate, hojarascas con manjar\nChocolate crocante de nuez: bizcocho chocolate+naranja, chantilly, disco de nuez,\n  manjar, semi baño de chocolate\nAmantina (solo verano): discos merengue suizo, chantilly, compota frambuesas, manjar\n\nOTRAS TORTAS: 10p $40.000 / 15p $45.000 / 20p $55.000\nPanqueques:\n  Chocolate amor: panqueque chocolate, manjar, chantilly, frambuesas, crema pastelera\n  Mango manjar: panqueque vainilla, manjar, chantilly, mango natural\n  Naranja: panqueque vainilla, curd natural de naranja, cubierto en chantilly\n  Chocolate ganache: panqueque chocolate, manjar, ganache de chocolate\n  Chocolate crema nuez: panqueque chocolate, chantilly, nueces picadas, manjar\n  Panqueque Amor: panqueque vainilla, manjar, chantilly, frambuesas, crema pastelera\nHeladas (base merengue suizo):\n  Lúcuma: merengue suizo, mousse lúcuma, manjar\n  Mango: merengue suizo, chantilly de mango, mango natural picado\n  Frambuesa: merengue suizo, mousse frambuesas, frambuesas naturales\n  Frutillas: merengue suizo, chantilly, frutillas naturales\n  Bávaro: merengue suizo de chocolate, manjar, chantilly, frambuesas naturales\n\nOTROS POSTRES (precio completo):\nKuchen enrejado (manzana/frutos rojos/durazno) $24.000\nKuchen sureño (manzana/frutos rojos) $25.000 | Kuchen de nuez $25.000\nStreusel $24.000 | Surtido $25.000 | Cuarteto $30.000\nCheesecake NY (maracuyá/frutos rojos/oreo/mango) $30.000\nCheesecake tradicional (crema pastelera + frutillas) $28.000\nTartaletas (fresas/cuatro estaciones/durazno/piña/frutos rojos) $22.000\nPie limón tradicional $25.000\nPie limón frambuesa $28.000\nPie limón chocolate $28.000\n\n════════════════════════════════════════\n  REGLAS DE NEGOCIO\n════════════════════════════════════════\n\n1. Tortas encargo: mínimo 24 hrs anticipación. Siempre set accion_interna\n   \"escalar_humano\" cuando el cliente confirma una torta de encargo.\n2. Alergias graves mencionadas: set accion_interna \"escalar_humano\".\n3. Cliente molesto 2+ mensajes seguidos: set accion_interna \"escalar_humano\".\n4. Pan sin gluten: siempre mencionar el costo adicional de +$2.000.\n5. Pizzas SOLO disponibles entre 17:00 y 21:30 hrs. Fuera de ese horario,\n   avisa amablemente que no están disponibles aún.\n6. Pagos: se realizan en el local. No manejas pagos online ni transferencias.\n7. Para 30 personas: ese tamaño no existe. Sugerir 2 tortas de 15 o 20 personas.\n8. pedido_confirmado: true SOLO cuando el cliente confirma explícitamente\n   (\"sí\", \"confirmo\", \"dale\", \"listo\", \"perfecto\") Y ya tienes nombre + hora_retiro.\n9. Si preguntan si eres un bot: \"¡Soy Dulce, la asistente de La Pastelería! 😄\"\n10. NUNCA menciones que eres IA, Claude, ni ningún modelo de lenguaje.\n\n════════════════════════════════════════\n  ESTADOS DE CONVERSACIÓN\n════════════════════════════════════════\nINICIO | NAVEGANDO | ARMANDO_PEDIDO | DATOS_CLIENTE | CONFIRMACION | COMPLETADO | CONSULTA\n\n════════════════════════════════════════\n  FORMATO DE SALIDA\n════════════════════════════════════════\n\nResponde ÚNICAMENTE con el siguiente JSON. Sin texto adicional, sin markdown,\nsin bloques de código. Solo el JSON puro.\n\n{\n  \"respuesta\": \"texto del mensaje para WhatsApp — máximo 5 líneas, tono humano\",\n  \"nuevo_estado\": \"ESTADO\",\n  \"pedido_actualizado\": [{\"producto\": \"nombre exacto del producto\", \"precio\": 0}],\n  \"datos_cliente\": {\"nombre\": \"\", \"hora_retiro\": \"\"},\n  \"pedido_confirmado\": false,\n  \"total_pedido\": 0,\n  \"accion_interna\": \"ninguna | notificar_duena | escalar_humano\",\n  \"nota_interna\": \"nota solo para el sistema, nunca se envía al cliente\"\n}\n`;\n\n// ─── Obtener datos del mensaje ────────────────────────────────\nconst msgData = $('03 · Extraer Datos Mensaje').first().json;\nconst mensaje   = msgData.mensaje;\nconst telefono  = msgData.telefono;\nconst timestamp = msgData.timestamp;\n\n// ─── Obtener estado previo desde Sheets ──────────────────────\nconst sheetsRows = $('04 · Leer Estado [Sheets]').all();\nconst stateRow   = sheetsRows.length > 0 ? sheetsRows[0].json : null;\n\nconst estadoConversacion = stateRow?.estado_conversacion || 'INICIO';\nconst nombreCliente      = stateRow?.nombre_cliente      || '';\nconst horaRetiro         = stateRow?.hora_retiro         || '';\n\nlet historial = [];\ntry { historial = JSON.parse(stateRow?.historial || '[]'); } catch(e) { historial = []; }\nif (historial.length > 30) historial = historial.slice(-30);\nhistorial.push({ rol: 'cliente', texto: mensaje, ts: timestamp });\n\nlet pedidoActual = [];\ntry { pedidoActual = JSON.parse(stateRow?.pedido_actual || '[]'); } catch(e) { pedidoActual = []; }\n\n// ─── Construir mensajes con historial nativo de Claude ────────\nconst mensajesConHistorial = [];\n\nfor (let i = 0; i < historial.length - 1; i++) {\n  const m = historial[i];\n  const contenido = String(m.texto || '').trim();\n\n  // ✅ CORRECCIÓN: Saltar mensajes con contenido vacío o nulo\n  if (!contenido) continue;\n\n  if (m.rol === 'cliente') {\n    mensajesConHistorial.push({ role: 'user', content: contenido });\n  } else if (m.rol === 'bot') {\n    mensajesConHistorial.push({ role: 'assistant', content: contenido });\n  }\n}\n\n// Último mensaje con contexto completo\nconst esPrimerMensaje = historial.filter(m => m.rol === 'cliente').length <= 1;\nmensajesConHistorial.push({\n  role: 'user',\n  content: JSON.stringify({\n    mensaje_cliente:     mensaje,\n    estado_conversacion: estadoConversacion,\n    pedido_actual:       pedidoActual,\n    datos_cliente:       { nombre: nombreCliente, hora_retiro: horaRetiro },\n    es_primer_mensaje:   esPrimerMensaje\n  })\n});\n\n// ─── Construir body para Anthropic API ───────────────────────\nconst apiBody = {\n  model:      'claude-sonnet-4-20250514',\n  max_tokens: 1024,\n  system:     SYSTEM_PROMPT,\n  messages:   mensajesConHistorial\n};\n\nreturn [{\n  json: {\n    api_body:              apiBody,\n    telefono:              telefono,\n    historial_con_cliente: historial\n  }\n}];"
      },
      "id": "7f2bb792-e69e-4159-b62e-c6c15427d99b",
      "name": "05 · Preparar Input Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"gpt-4o-mini\", \"messages\": [{\"role\": \"system\", \"content\": $('05 · Preparar Input Claude').first().json.api_body.system}].concat($('05 · Preparar Input Claude').first().json.api_body.messages), \"temperature\": 0.7, \"max_tokens\": 1024 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2e09e135-6d8b-416e-9d24-db1bd36cab9c",
      "name": "06 · API Claude [Anthropic]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fyv7OdgHH6X8PhFv",
          "name": "Header Auth account"
        },
        "openAiApi": {
          "id": "wjH01xQGKjGOaOtb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 07 · PARSEAR RESPUESTA DE OPENAI\n// ═══════════════════════════════════════════════════════════════\n\nconst responseData = $input.first().json;\n\nlet claudeResponse;\ntry {\n  // Extraer texto de la respuesta de Anthropic API\n  const rawText = responseData.choices?.[0]?.message?.content ?? '';\n  // Limpiar posibles bloques markdown que Claude agregue\n  const cleanText = rawText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/,   '')\n    .trim();\n  claudeResponse = JSON.parse(cleanText);\n} catch(e) {\n  // Fallback si el parseo falla — el bot pide que repitan el mensaje\n  claudeResponse = {\n    respuesta:         'Perdona, tuve un pequeño problema técnico 😅 ¿Puedes repetirme eso?',\n    nuevo_estado:      'INICIO',\n    pedido_actualizado: [],\n    datos_cliente:     { nombre: '', hora_retiro: '' },\n    pedido_confirmado: false,\n    total_pedido:      0,\n    accion_interna:    'ninguna',\n    nota_interna:      'ERROR parseo Claude: ' + e.message\n  };\n}\n\n// ─── Agregar respuesta del bot al historial ─────────────────────────\nconst historialActual = $('05 · Preparar Input Claude').all()[0]?.json?.historial_con_cliente || [];\nhistorialActual.push({\n  rol:   'bot',\n  texto: claudeResponse.respuesta,\n  ts:    new Date().toISOString()\n});\n// Mantener últimas 40 entradas (20 turnos) para no inflar Sheets\nconst historialFinal = historialActual.length > 40\n  ? historialActual.slice(-40)\n  : historialActual;\n\n// ─── Sanitizar pedido_actualizado ──────────────────────────────────\nconst pedido = Array.isArray(claudeResponse.pedido_actualizado)\n  ? claudeResponse.pedido_actualizado\n  : [];\n\n// ─── Calcular total si no viene de Claude ──────────────────────────\nconst total = claudeResponse.total_pedido ||\n  pedido.reduce((acc, item) => acc + (item.precio || 0), 0);\n\nreturn [{\n  json: {\n    ...claudeResponse,\n    pedido_actualizado:   pedido,\n    total_pedido:         total,\n    historial_para_sheets: JSON.stringify(historialFinal),\n    pedido_para_sheets:    JSON.stringify(pedido)\n  }\n}];"
      },
      "id": "eb49acf2-f9bc-4c72-9d52-94b7faa37624",
      "name": "07 · Parsear Respuesta Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mo82irRRbnmG71wYHleRnNWPPqIknRXEyt58zc7wjh0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "EstadoConversacion",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('03 · Extraer Datos Mensaje').first().json.telefono.replace('+', '') }}",
            "estado_conversacion": "={{ $('07 · Parsear Respuesta Claude').first().json.nuevo_estado }}",
            "historial": "={{ $('07 · Parsear Respuesta Claude').first().json.historial_para_sheets }}",
            "pedido_actual": "={{ $('07 · Parsear Respuesta Claude').first().json.pedido_para_sheets }}",
            "nombre_cliente": "={{ $('07 · Parsear Respuesta Claude').first().json.datos_cliente.nombre }}",
            "hora_retiro": "={{ $('07 · Parsear Respuesta Claude').first().json.datos_cliente.hora_retiro }}",
            "ultima_actualizacion": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_conversacion",
              "displayName": "estado_conversacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "historial",
              "displayName": "historial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pedido_actual",
              "displayName": "pedido_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_retiro",
              "displayName": "hora_retiro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ultima_actualizacion",
              "displayName": "ultima_actualizacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "880c95cb-fdd9-486b-a24a-4c25e075e03d",
      "name": "08 · Guardar Estado [Sheets]",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPcI2oeMuojLvUyW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('07 · Parsear Respuesta Claude').first().json.accion_interna }}",
                    "rightValue": "notificar_duena",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              },
              "renameOutput": true,
              "outputKey": "notificar_duena"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $('07 · Parsear Respuesta Claude').first().json.accion_interna }}",
                    "rightValue": "escalar_humano",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              },
              "renameOutput": true,
              "outputKey": "escalar_humano"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "47ffe154-cbeb-4dec-bcce-ed63d8f994ac",
      "name": "09 · Switch Acción",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1440,
        320
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sebamarinovic.leiva@gmail.com",
          "mode": "list",
          "cachedResultName": "sebamarinovic.leiva@gmail.com"
        },
        "start": "={{ (() => { const h = $('07 · Parsear Respuesta Claude').first().json.datos_cliente?.hora_retiro || ''; const m = h.match(/(\\d{1,2}):(\\d{2})/); const d = new Date(); if (m) { d.setHours(parseInt(m[1]), parseInt(m[2]), 0, 0); } else { d.setTime(d.getTime() + 60*60*1000); } return d.toISOString(); })() }}",
        "end": "={{ (() => { const h = $('07 · Parsear Respuesta Claude').first().json.datos_cliente?.hora_retiro || ''; const m = h.match(/(\\d{1,2}):(\\d{2})/); const d = new Date(); if (m) { d.setHours(parseInt(m[1]) + 1, parseInt(m[2]), 0, 0); } else { d.setTime(d.getTime() + 2*60*60*1000); } return d.toISOString(); })() }}",
        "additionalFields": {
          "description": "={{ 'Pedido confirmado por WhatsApp\\n\\nCliente: ' + ($('07 · Parsear Respuesta Claude').first().json.datos_cliente?.nombre || '') + '\\nTeléfono: ' + $('03 · Extraer Datos Mensaje').first().json.telefono + '\\nHora retiro: ' + ($('07 · Parsear Respuesta Claude').first().json.datos_cliente?.hora_retiro || 'A coordinar') + '\\n\\nProductos:\\n' + ($('07 · Parsear Respuesta Claude').first().json.pedido_actualizado || []).map(p => '• ' + p.producto + ' — $' + p.precio.toLocaleString('es-CL')).join('\\n') + '\\n\\nTOTAL: $' + ($('07 · Parsear Respuesta Claude').first().json.total_pedido || 0).toLocaleString('es-CL') }}",
          "location": "Rancagua 3421, Iquique",
          "summary": "={{ '🎂 Pedido LP — ' + ($('07 · Parsear Respuesta Claude').first().json.datos_cliente?.nombre || 'Cliente') }}"
        }
      },
      "id": "ecb48b4c-281a-4b4f-a608-3b3d54e9dc19",
      "name": "10 · Google Calendar — Evento",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1680,
        80
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZlUKLjsLKqsUeTAn",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "lumenhashspa@gmail.com",
        "subject": "={{ '🎂 Nuevo pedido confirmado — ' + ($('07 · Parsear Respuesta Claude').first().json.datos_cliente?.nombre || 'Cliente') }}",
        "message": "={{ '<h2 style=\"color:#2d6a4f\">🧁 Nuevo pedido en La Pastelería</h2><table style=\"font-family:Arial,sans-serif;font-size:14px;border-collapse:collapse;width:100%\"><tr><td style=\"padding:8px;font-weight:bold\">Cliente</td><td style=\"padding:8px\">' + ($('07 · Parsear Respuesta Claude').first().json.datos_cliente?.nombre || 'No especificado') + '</td></tr><tr style=\"background:#f5f5f5\"><td style=\"padding:8px;font-weight:bold\">WhatsApp</td><td style=\"padding:8px\">' + $('03 · Extraer Datos Mensaje').first().json.telefono + '</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Retiro</td><td style=\"padding:8px\">' + ($('07 · Parsear Respuesta Claude').first().json.datos_cliente?.hora_retiro || 'A coordinar') + '</td></tr><tr style=\"background:#f5f5f5\"><td style=\"padding:8px;font-weight:bold\">Total</td><td style=\"padding:8px;font-weight:bold;color:#2d6a4f\">$' + ($('07 · Parsear Respuesta Claude').first().json.total_pedido || 0).toLocaleString('es-CL') + '</td></tr></table><h3>Productos</h3><ul>' + ($('07 · Parsear Respuesta Claude').first().json.pedido_actualizado || []).map(p => '<li>' + p.producto + ' — $' + p.precio.toLocaleString('es-CL') + '</li>').join('') + '</ul>' + (($('07 · Parsear Respuesta Claude').first().json.nota_interna || '') ? '<p><strong>⚠️ Nota:</strong> ' + $('07 · Parsear Respuesta Claude').first().json.nota_interna + '</p>' : '') + '<hr><p style=\"color:#888;font-size:12px\">Enviado automáticamente por el Bot WhatsApp de La Pastelería</p>' }}",
        "options": {}
      },
      "id": "3a6adfea-b95f-4b46-9099-93b0ad535834",
      "name": "11 · Gmail — Notificar Dueña",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1920,
        80
      ],
      "webhookId": "05166a54-714b-47b0-a42f-1044b273f703",
      "credentials": {
        "gmailOAuth2": {
          "id": "S54s9Lit3RPRfCqG",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mo82irRRbnmG71wYHleRnNWPPqIknRXEyt58zc7wjh0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pedidos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "telefono": "={{ $('03 · Extraer Datos Mensaje').first().json.telefono }}",
            "nombre_cliente": "={{ $('07 · Parsear Respuesta Claude').first().json.datos_cliente?.nombre ?? '' }}",
            "hora_retiro": "={{ $('07 · Parsear Respuesta Claude').first().json.datos_cliente?.hora_retiro ?? '' }}",
            "productos": "={{ ($('07 · Parsear Respuesta Claude').first().json.pedido_actualizado || []).map(p => p.producto + ' $' + p.precio).join(' | ') }}",
            "total": "={{ $('07 · Parsear Respuesta Claude').first().json.total_pedido ?? 0 }}",
            "estado": "Confirmado",
            "nota_interna": "={{ $('07 · Parsear Respuesta Claude').first().json.nota_interna ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_retiro",
              "displayName": "hora_retiro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "productos",
              "displayName": "productos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_interna",
              "displayName": "nota_interna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "aa93c227-7290-4c9f-b21a-8b1c4c5c476d",
      "name": "12 · Sheets — Registrar Pedido",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2160,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPcI2oeMuojLvUyW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v17.0/1120470911147248/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"messaging_product\": \"whatsapp\", \"to\": $('03 · Extraer Datos Mensaje').first().json.telefono, \"type\": \"text\", \"text\": { \"body\": $('07 · Parsear Respuesta Claude').first().json.respuesta } }) }}",
        "options": {}
      },
      "id": "8c2f2a2e-9064-4cda-9ef9-2d44bfb74c7f",
      "name": "13 · WhatsApp Reply [pedido ✓]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        80
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "NAhZUi0nvED7NuFO",
          "name": "Twilio"
        },
        "whatsAppApi": {
          "id": "jXesSInRfEHJvAHF",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "lumenhashspa@gmail.com",
        "subject": "={{ '🚨 Atención requerida — WhatsApp Bot La Pastelería' }}",
        "message": "={{ '<h2 style=\"color:#c0392b\">⚠️ El bot escaló esta conversación a revisión humana</h2><table style=\"font-family:Arial,sans-serif;font-size:14px;border-collapse:collapse;width:100%\"><tr><td style=\"padding:8px;font-weight:bold\">Teléfono cliente</td><td style=\"padding:8px\">' + $('03 · Extraer Datos Mensaje').first().json.telefono + '</td></tr><tr style=\"background:#fff5f5\"><td style=\"padding:8px;font-weight:bold\">Último mensaje</td><td style=\"padding:8px\">' + $('03 · Extraer Datos Mensaje').first().json.mensaje + '</td></tr><tr><td style=\"padding:8px;font-weight:bold\">Motivo detección</td><td style=\"padding:8px\">' + ($('07 · Parsear Respuesta Claude').first().json.nota_interna || 'No especificado') + '</td></tr></table><p>Por favor escríbele directamente por WhatsApp para continuar la atención.</p><hr><p style=\"color:#888;font-size:12px\">Bot WhatsApp — La Pastelería</p>' }}",
        "options": {}
      },
      "id": "5cd752e7-f145-413a-9ef6-cba1b4e515bf",
      "name": "14 · Gmail — Alerta Urgente 🚨",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        320
      ],
      "webhookId": "7e25a996-c7bd-4ca4-89b0-beb675417351",
      "credentials": {
        "gmailOAuth2": {
          "id": "S54s9Lit3RPRfCqG",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v17.0/1120470911147248/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"messaging_product\": \"whatsapp\", \"to\": $('03 · Extraer Datos Mensaje').first().json.telefono, \"type\": \"text\", \"text\": { \"body\": $('07 · Parsear Respuesta Claude').first().json.respuesta } }) }}",
        "options": {}
      },
      "id": "a797c71d-6ba7-4f49-af24-095a628d4137",
      "name": "15 · WhatsApp Reply [escalar]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "NAhZUi0nvED7NuFO",
          "name": "Twilio"
        },
        "whatsAppApi": {
          "id": "jXesSInRfEHJvAHF",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v17.0/1120470911147248/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('03 · Extraer Datos Mensaje').item.json.telefono }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $('07 · Parsear Respuesta Claude').item.json.respuesta }}\"\n  }\n}",
        "options": {}
      },
      "id": "502cec72-6988-486c-b6a3-a3b66351f882",
      "name": "16 · WhatsApp Reply [default]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        560
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "NAhZUi0nvED7NuFO",
          "name": "Twilio"
        },
        "whatsAppApi": {
          "id": "kmVgOQdR7nVKAxtJ",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "lapasteleria-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -176
      ],
      "id": "345c35fe-1310-4944-943f-4563e6cfc734",
      "name": "Webhook",
      "webhookId": "89071147-9d75-4fab-bf35-5b03decc0e3a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        -176
      ],
      "id": "0cb96a15-5f4d-47b2-8b6f-4a6be952273e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e449a659-c04c-49f1-860c-d5f5e3ed9c58",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages }}",
              "rightValue": "exists",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "05332b69-9c96-4ca3-84e3-31f1a8abd48d",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        176
      ],
      "id": "62d01e27-12f9-4b03-9d9b-6d9c58801260",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "01 · Webhook Twilio": {
      "main": [
        [
          {
            "node": "02 · ACK 200 Twilio",
            "type": "main",
            "index": 0
          },
          {
            "node": "03 · Extraer Datos Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 · Extraer Datos Mensaje": {
      "main": [
        [
          {
            "node": "04 · Leer Estado [Sheets]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 · Leer Estado [Sheets]": {
      "main": [
        [
          {
            "node": "05 · Preparar Input Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 · Preparar Input Claude": {
      "main": [
        [
          {
            "node": "06 · API Claude [Anthropic]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 · API Claude [Anthropic]": {
      "main": [
        [
          {
            "node": "07 · Parsear Respuesta Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 · Parsear Respuesta Claude": {
      "main": [
        [
          {
            "node": "08 · Guardar Estado [Sheets]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 · Guardar Estado [Sheets]": {
      "main": [
        [
          {
            "node": "09 · Switch Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09 · Switch Acción": {
      "main": [
        [
          {
            "node": "10 · Google Calendar — Evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "14 · Gmail — Alerta Urgente 🚨",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "16 · WhatsApp Reply [default]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 · Google Calendar — Evento": {
      "main": [
        [
          {
            "node": "11 · Gmail — Notificar Dueña",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 · Gmail — Notificar Dueña": {
      "main": [
        [
          {
            "node": "12 · Sheets — Registrar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 · Sheets — Registrar Pedido": {
      "main": [
        [
          {
            "node": "13 · WhatsApp Reply [pedido ✓]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14 · Gmail — Alerta Urgente 🚨": {
      "main": [
        [
          {
            "node": "15 · WhatsApp Reply [escalar]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16 · WhatsApp Reply [default]": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "346d209a-20e7-4f27-8284-8f161ffc0c8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cab678af2e9b57b07f15d00a3b7b5216fe9f2ec1cafce315db95fba07861fb63"
  },
  "nodeGroups": [],
  "id": "kUeE4fWN3AP4Wj6G",
  "tags": [
    {
      "updatedAt": "2026-04-30T10:40:52.132Z",
      "createdAt": "2026-04-30T10:40:52.132Z",
      "id": "6TtjvuqK3a7zGboG",
      "name": "La Pastelería"
    },
    {
      "updatedAt": "2026-04-30T10:40:52.334Z",
      "createdAt": "2026-04-30T10:40:52.334Z",
      "id": "bGDhqJjVwO30kPsW",
      "name": "Producción"
    },
    {
      "updatedAt": "2026-04-30T10:40:52.227Z",
      "createdAt": "2026-04-30T10:40:52.227Z",
      "id": "xn1TNc9aJa7YoDAv",
      "name": "WhatsApp"
    }
  ]
}